<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>272175763541-mc86qokqcitb5fconpll75jborqd544v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.272175763541-mc86qokqcitb5fconpll75jborqd544v</string>
	<key>API_KEY</key>
	<string>AIzaSyC6P8TbhqrMumJCab3NslNfz7M-03j6bns</string>
	<key>GCM_SENDER_ID</key>
	<string>272175763541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>creativepuzzle.smartdriving</string>
	<key>PROJECT_ID</key>
	<string>smartdriving-9c458</string>
	<key>STORAGE_BUCKET</key>
	<string>smartdriving-9c458.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272175763541:ios:442493af8a5a4691</string>
	<key>DATABASE_URL</key>
	<string>https://smartdriving-9c458.firebaseio.com</string>
</dict>
</plist>